<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SinistroEntities" connectionString="metadata=res://*/Sinistro.SinistroEdm.csdl|res://*/Sinistro.SinistroEdm.ssdl|res://*/Sinistro.SinistroEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVRJDSVDB\DSV01;initial catalog=Sinistro;persist security info=True;user id=Ampsoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FinanceiroEntities" connectionString="metadata=res://*/Financeiro.FinanceiroEdm.csdl|res://*/Financeiro.FinanceiroEdm.ssdl|res://*/Financeiro.FinanceiroEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVRJDSVDB\DSV01;initial catalog=Financeiro;persist security info=True;user id=Ampsoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiesEntities" connectionString="metadata=res://*/Sies.SiesEdm.csdl|res://*/Sies.SiesEdm.ssdl|res://*/Sies.SiesEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVRJDSVDB\DSV01;initial catalog=Sies;persist security info=True;user id=Ampsoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>