<div class="form-group col-md-5 col-sm-6 col-xs-12">
    <label>Empresa</label>
    <div class="">
        <select id="sns-cmb-empresa" class="form-control input-sm">
            <option value="0">SELECIONE</option>
        </select>
    </div>
</div>