
<div id="sns-hid-dados-bancarios" class="sns-hid-dados-bancarios">

    <div class="clearfix sns-top-space"></div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Dados Bancários</legend>
        <div class="form-group col-md-7 col-sm-7 col-xs-12">
            <label for="sns-txt-banco">Banco</label>
            <input id="sns-txt-banco" type="text" class="form-control input-sm" placeholder=" ">
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-5">
            <label for="sns-txt-agencia">Agencia</label>
            <input id="sns-txt-agencia" type="text" class="form-control input-sm" placeholder=" ">
        </div>
        <div class="form-group col-md-1 col-sm-1 col-xs-2">
            <label for="sns-txt-digagencia">&nbsp;</label>
            <input id="sns-txt-digagencia" type="text" class="form-control input-sm" placeholder=" ">
        </div>
        <div class="form-group col-md-5 col-sm-4 col-xs-5">
            <label>Tipo Conta</label>
            <div class="">
                <select id="sns-cmb-tpconta" class="form-control input-sm">
                    <option value="0">Selecione</option>
                    <option value="1">Conta Corrente</option>
                    <option value="2">Poupança</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-5">
            <label for="sns-txt-conta">C.c. / Poupança:</label>
            <input id="sns-txt-conta" type="text" class="form-control input-sm" placeholder=" ">
        </div>
        <div class="form-group col-md-1 col-sm-1 col-xs-2">
            <label for="sns-txt-digconta">&nbsp;</label>
            <input id="sns-txt-digconta" type="text" class="form-control input-sm" placeholder=" ">
        </div>
        <div class="form-group sns-top-space col-md-2 col-sm-3 col-xs-5">
            <button id="" type="button" class="btn sns-btn-ok btn-sm  col-md-12 col-xs-12">
                <span class="fa fa-pencil-square-o sns-margin-icon sns-tool-action" title="Cadastro"></span>Cadastro
            </button>
        </div>
    </fieldset>

</div>
